[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "boto3>=1.40.74",
    "flask>=3.1.2",
    "openai>=2.8.0",
    "requests>=2.32.5",
]
